@model ITSWebMgmt.Models.ComputerModel
@using ITSWebMgmt.Helpers
@{
    var tableAndList = TableGenerator.CreateTableAndRawFromDatabase(Model.Computer, new List<string>() { "Manufacturer", "Model", "SystemType", "Roles" }, "No inventory data");
    Model.SSCMInventoryTable = tableAndList.Item1; //Table
    Model.SCCMCollecionsSoftware = TableGenerator.CreateTableFromDatabase(Model.Software,
new List<string>() { "SoftwareCode", "ProductName", "ProductVersion", "TimeStamp" },
new List<string>() { "Product ID", "Name", "Version", "Install date" },
"Software information not found");
    Model.SCCMInventory += tableAndList.Item2; //List
}
<h2>SCCM Info</h2>
@Html.Raw(Model.SCCMCollectionsTable)

<h3>Software Details</h3>
@Html.Raw(Model.SCCMCollecionsSoftware)

<h3>Raw</h3>
@Html.Raw(Model.SCCMInventory)