@model ITSWebMgmt.Models.ComputerModel
@using System.Web;

<h2>Tasks</h2>
<br />
<div id="password2"></div>
<div id="passworddiv2">
    @if (Model.ShowResultGetPassword)
    {
        <button id="btnPassword2">Get Local Admin Password</button>
    }
</div>
<br />
<button id="buttonEnableBitlockerEncryption">Enable Bitlocker Encryption</button>
<br />
@if (Model.ShowMoveComputerOUdiv)
{
    <button id="MoveComputerOU">Move computer to OU Clients</button>
    <p>Only do this if you know what you are doing!</p>
}

<script>
    $("#buttonEnableBitlockerEncryption").click(function ()
    {
        sendPostRequest("EnableBitlockerEncryption")
    });

    $("#MoveComputerOU").click(function ()
    {
        sendPostRequest("MoveOU_Click")
    });

    function sendPostRequest(Action) {
        var computername = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.ComputerName))';
        $.ajax({
            type: "POST",
            url: 'Computer/' + Action,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(computername),
            dataType: "json",
            success: function (response) {
                alert(JSON.parse(response.responseText).message);
            }
        });
    }
</script>