@model ITSWebMgmt.Models.UserModel
@using System.Web
@{ 
    string transitiv = "";

    if (Model.GroupListAll.Count == 0)
    {
        transitiv = "<h3>NB: Listen viser kun direkte medlemsskaber, kunne ikke finde fuld liste på denne Domain Controller eller domæne</h3>";
    }

    var helper = new HTMLTableHelper(new string[] { "Type", "Domain", "Name", "Access" });

    //Select Exchange groups and convert to list of ExchangeMailboxGroup
    var exchangeMailboxGroupList = Model.GroupList.Where<string>(group => (group.StartsWith("CN=MBX_"))).Select(x => new ExchangeMailboxGroup(x));

    foreach (ExchangeMailboxGroup e in exchangeMailboxGroupList)
    {
        var type = e.Type;
        var domain = e.Domain;
        var nameFormated = string.Format("<a href=\"/Group?grouppath={0}\">{1}</a><br/>", HttpUtility.UrlEncode("LDAP://" + e.RawValue), e.Name);
        var access = e.Access;
        helper.AddRow(new string[] { type, domain, nameFormated, access });
    }

    Model.Exchange = transitiv + helper.GetTable();
}
<h2>Exchange</h2>
@Html.Raw(Model.Exchange)